<div class="bg-color2 block-section line-bottom">
    <div class="container text-center">
        <h2>Our Team</h2>
        <div class="white-space-30"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="box-testimonial">
                    <p class="desc"> Arjun CHATTERJEE </p>
                    <img src="./assets/images/no-img.gif" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-testimonial">
                    <p class="desc"> Arthur SKOBNIKOV </p>
                    <img src="./assets/images/no-img.gif" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-testimonial">
                    <p class="desc"> Evgeny BAZAROV </p>
                    <img src="./assets/images/no-img.gif" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-testimonial">
                    <p class="desc"> Ruben BENIBGHI </p>
                    <img src="./assets/images/no-img.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
